root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[*.{vue, ts}]
indent_size = 2
ij_typescript_force_quote_style = true
ij_typescript_use_double_quotes = true
